.page-footer {
  color: #000000;
  background-color: #fefefe;
  text-transform: uppercase;

  padding-top: 20px;
  padding-bottom: 20px;
}

.page-footer__column {
  padding-top: 19px;
  padding-bottom: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: 700;
}

.page-footer__copyright-text {
  font-size: 14px;
  font-weight: 400;
  margin-right: 6px;
  line-height: 26px;
}

.page-footer__copyright-icon {
  width: 40px;
  height: 40px;
}
